<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.notopia.android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_CALENDAR" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.telephony"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.network"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.location.gps"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="false" />
    <uses-feature android:name="android.hardware.camera2.full" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true">
        <activity android:name=".menu.SupportActivity"></activity>
        <activity android:name=".HelpScanActivity" />
        <activity android:name=".menu.SettingActivity" />
        <activity android:name=".menu.CategoryActivity" />
        <activity android:name=".menu.EditProfileActivity" />
        <activity android:name=".ar.DownloadArActivity" />
        <activity android:name=".verification.ReadTermsActivity" />
        <activity android:name=".MainActivity"/>
        <activity android:name=".verification.VeryfiMahsolActivity" />
        <activity android:name=".verification.VerfyKhashdarActivity" />
        <activity android:name=".ShelfsActivity" />
        <activity android:name=".verification.SignInActivity" />
        <activity android:name=".verification.SignUpActivity" />
        <activity android:name=".verification.EnterNumberActivity" />
        <activity android:name=".menu.AboutActivity" />
        <activity android:name=".ar.ARActivity" />
        <activity android:name=".ar.WebViewActivity" />

        <meta-data android:name="com.pushpole.sdk.token" android:value="PUSHPOLE_976820375651"/>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="ir.notopia.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ToolbarCaptureActivity"
            android:clearTaskOnLaunch="true"
            android:screenOrientation="portrait"
            android:stateNotNeeded="true"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".scanner.opennotescanner.OpenNoteScannerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_open_note_scanner"
            android:layoutDirection="ltr"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.media.action.IMAGE_CAPTURE" /> -->


            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".scanner.opennotescanner.GalleryGridActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/title_activity_gallery"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
            </intent-filter>
        </activity>
        <activity
            android:name=".scanner.opennotescanner.FullScreenViewActivity"
            android:theme="@style/FullscreenTheme" />
        <activity
            android:name=".scanner.opennotescanner.SettingsActivity"
            android:label="@string/settings"
            android:theme="@style/AppTheme" /> <!-- <provider -->
        <!-- android:name="androidx.core.content.FileProvider" -->
        <!-- android:authorities="${applicationId}.fileprovider" -->
        <!-- android:exported="false" -->
        <!-- android:grantUriPermissions="true"> -->
        <!-- <meta-data -->
        <!-- android:name="android.support.FILE_PROVIDER_PATHS" -->
        <!-- android:resource="@xml/provider_paths"/> -->
        <!-- </provider> -->
        <activity android:name=".scanner.ScannerActivity" />

        <service
            android:name=".services.NotificationJobService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.firebase.jobdispatcher.ACTION_EXECUTE" />
            </intent-filter>
        </service>
        <service
            android:name=".services.NotificationService"
            android:exported="false" />
        <service
            android:name=".services.AIService"
            android:exported="false" />
    </application>

</manifest>